In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (8.4.0)
Note: you may need to restart the kernel to use updated packages.

In [36]:
mylb = mysql.connector.connect (
    host = "localhost",
    user = "root",
    password = "ROOT",
    database = "collage"
)
mycursor = mylb.cursor()
x = "select * from collage.arun"
mycursor.execute(x)
y = mycursor.fetchall()
for i in y:
    print(i)

('abhay ', 'x', 'm')
('arun', 'xii', 'm')
('aditya', 'ix', 'm')
('rani', 'x', 'f')
('mohini', 'xii', 'f')
('sunny', 'ix', 'f')
('bobby', 'x', 'm')
('jhon', 'xii', 'm')
('arun', 'bca', 'm')
('arun', 'bca', 'm')
('arun', 'bca', 'm')
('arun', 'bca', 'm')
('arun', 'bca', 'm')
('arun', 'bca', 'm')
('arun', 'bca', 'm')

In [4]:
import mysql.connector

In [35]:
x= "insert into arun(name,class,gender) values(%s,%s,%s)"
y=("arun","bca","m")
mycursor.execute(x,y)
mylb.commit()